<!DOCTYPE html>
<html lang="{{NP_LANG}}">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="{{NP_CHARSET}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Nopadi CSS -->
    <link rel="stylesheet" href="{{asset('css/nopadi/nopadi.css')}}">
	<link rel="stylesheet" href="{{asset('css/nopadi/progress.css')}}">
	<script src="{{asset('js/jquery.min.js')}}"></script>
  
    <title>Login</title>
  </head>
<body class="light-gray bg-1">
<div class="container padding">
<form id="login">

  <!--Token para evitar ataque CSRF-->
  {{csrf_field()}}
  
  <div class="content card padding white display-container round animate-top" style="max-width:450px">
    <div class="content center"><a href="{{url('/')}}" class="link">
      <img src="{{asset('img/np-logo.png')}}" style="max-width:90px;width:100%">
    </a></div>
   <span class="center big col m12">Entrar na sua conta</span>
	<div style="padding-left:30px;padding-right:30px">
	 @if($logout)
       <div class="msg-logout col m12 panel pale-blue leftbar border-blue padding animate-left">
	         Sessão encerrada com sucesso 
	  </div>
	@endif
	<div class="msg col m12"></div>
	<div class="focus-email">
    <label class="big"><i class="icon xbig" style="position:relative;top:5px">email</i>E-mail</label>
    <input type="email" required name="email" class="input border">
	</div>
	<div class="focus-password">
    <label class="big"><i class="icon xbig" style="position:relative;top:5px">vpn_key</i>Senha</label>
    <input type="password" required name="password" class="input border margin-bottom">
	</div>
	<label class="checkbox big">Mantenha-me conectado
       <input  type="checkbox" name="remember">
       <span class="checkbox-mark border"></span>
   </label>
	
	<button type="submit" class="button round block margin-top border border-teal hover-teal">Entrar</button>
	<span class="center col m12">ou</span>
	<a href="{{url('recover-password')}}" class="button block">Esqueceu a senha?</a>
	</div>
  </div>
</form>
   </div> 
 <script>
$(function(){

  $("#login").submit(function(){
	 $('.msg-logout').hide();
     var vars = $(this).serialize();
	 var msg = $(".msg");
     
     $.ajax({
     url : "{{url('login')}}",
     type : 'post',
     data : vars,
     beforeSend : function(){
           msg.html('<div class="progress"><div class="indeterminate"></div></div>');
     },
	 success : function(data){
	      if(data == 'success'){
		     window.location.href = "{{url('dashboard')}}";
		  }else{
		    if(data == 'user_not_found')
		        msg.html('<div class="animate-opacity panel pale-red leftbar border-red"><p class="animate-right">Usuário inválido.</p></div>');
			else if(data == 'invalid_email')
		            msg.html('<div class="animate-opacity panel pale-red leftbar border-red"><p class="animate-right">E-mail inválido.</p></div>');
			else if(data == 'invalid_password')
		            msg.html('<div class="animate-opacity panel pale-red leftbar border-red"><p class="animate-right">Senha inválida.</p></div>');
			else msg.html('<div class="animate-opacity panel pale-red leftbar border-red"><p class="animate-right"><b>Erro de servidor.</b> Tente novamente mais tarde!</p></div>');
		  }
     }
    }); 
  
     return false;
  });

});
</script>
     </body>
	     </html>