<!DOCTYPE html>
<html lang="{{NP_LANG}}">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="{{NP_CHARSET}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Nopadi CSS -->
    <link rel="stylesheet" href="{{asset('css/nopadi/nopadi.css')}}">
	<link rel="stylesheet" href="{{asset('css/nopadi/progress.css')}}">
	<script src="{{asset('js/jquery.min.js')}}"></script>
  
    <title>Recuperar senha</title>
  </head>
<body class="light-gray bg-1">
<div class="container padding">
<form id="login">

  <!--Token para evitar ataque CSRF-->
  {{csrf_field()}}
  
  <div class="content card padding white display-container round animate-top" style="max-width:450px">
    <div class="content center"><a href="{{url('/')}}" class="link">
      <img src="{{asset('img/np-logo.png')}}" style="max-width:90px;width:100%">
    </a></div>
   <span class="center big col m12">Recuperar senha</span>
	<div style="padding-left:30px;padding-right:30px">
	<div class="msg col m12 animate-zoom"></div>
    <label class="small"><i class="icon big" style="position:relative;top:5px">email</i>Insira seu email para procurarmos por sua conta.
    <input type="email" required name="email" placeholder="Seu e-mail" class="input border">
	</label>
	<button type="submit" class="button round block margin-top border border-teal hover-teal">Recuperar senha</button>
	<span class="center col m12">ou</span>
	<a href="{{url('login')}}" class="button block">Entrar na sua conta</a>
	</div>
  </div>
</form>
   </div> 
 <script>
$(function(){

  $("#login").submit(function(){
	 $('.msg-logout').hide();
     var vars = $(this).serialize();
	 var msg = $(".msg");
     
     $.ajax({
     url : "{{url('recover-password')}}",
     type : 'post',
     data : vars,
     beforeSend : function(){
           msg.html('<div class="progress"><div class="indeterminate"></div></div>');
     },
	 success : function(data){
	     msg.html(data);
     }
    }); 
  
     return false;
  });

});
</script>
     </body>
	     </html>