<!DOCTYPE html>
<html lang="{{NP_LANG}}">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="{{NP_CHARSET}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Nopadi CSS -->
    <link rel="stylesheet" href="{{asset('css/nopadi/nopadi.css')}}">
	<link rel="stylesheet" href="{{asset('css/nopadi/progress.css')}}">
	<script src="{{asset('js/jquery.min.js')}}"></script>
  
    <title>Alterar senha</title>
  </head>
<body class="light-gray bg-1">
<div class="container padding">
<form id="login">

  <div class="content card padding white display-container round animate-top" style="max-width:450px">
  <!--Token para evitar ataque CSRF-->
  {{csrf_field()}}
  
    <div class="content center"><a href="{{url('/')}}" class="link">
      <img src="{{asset('img/np-logo.png')}}" style="max-width:90px;width:100%">
    </a></div>
   <span class="center big col m12">Alterar senha</span>
	<div style="padding-left:30px;padding-right:30px">
	
   @if($token)
	
	 <input type="hidden" name="id" value="{{$token}}">
	 
	<div class="msg col m12"></div>
	
	<div>
    <label class="small"><i class="icon big" style="position:relative;top:5px">vpn_key</i>Nova senha</label>
    <input type="password" id="password1" required name="password" class="input border margin-bottom">
	</div>
	<div>
    <label class="small"><i class="icon big" style="position:relative;top:5px">vpn_key</i>Confirmar senha</label>
    <input type="password" id="password2" required class="input border margin-bottom">
	</div>
	
	<button type="submit" class="button round block margin-top margin-bottom border border-teal hover-teal">Confirmar</button>
	</div>
	  @else
		   <div class="padding">
        <p><hr><b class='text-red'>Token inválido!</b> Faça uma nova solicitação de recuperação de senha para que o sistema possa gerar um novo token. Para isso, clique no botão abaixo!</p><hr>
		<a href="{{url('recover-password')}}"class="hover-text-red link border round padding">Gerar novo token</a>
		</div>
     @endif
  </div>
</form>
   </div> 
 <script>
$(function(){

  $("#login").submit(function(){
	 $('.msg-logout').hide();
     var vars = $(this).serialize();
	 var msg = $(".msg");
     
	 var password1 = $("#password1");
	 var password2 = $("#password2");
	 
	 if(password1.val() == password2.val()){
     $.ajax({
     url : "{{url('recover-password-update')}}",
     type : 'post',
     data : vars,
     beforeSend : function(){
           msg.html('<div class="progress"><div class="indeterminate"></div></div>');
     },
	 success : function(data){
	     msg.html(data);
     }
    }); }else{
	  
	  msg.html('<div class="animate-opacity panel pale-red leftbar border-red"><p class="animate-right">Senhas não conferem!</p></div>');
	
	}
  
     return false;
  });

});
</script>
     </body>
	     </html>